body {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  background-color: #f1f1f1;
}

body > main {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  padding-top: 2.5vh;
  padding-bottom: 4vh;
}
  
body > footer {
  background-color: #3F3F3F;
  padding-left: 5vw;
  padding-top: 3vh;
  padding-bottom: 3.2vh;
  color: #fff;
}

.bold {
  font-size: 1.8vw;
  font-weight: 700;
  padding-bottom: 1.5vh;
}

.link {
  color: #1ED760;
}

.nav-link {
  line-height: 30px !important;
}

#profile {
  border-radius: 50%;
}

.track-img {
  float: left;
  margin-right: 2rem;
  border-radius: 10%;
  object-fit: cover;
}

.artist-img {
  margin-right: 2rem;
  border-radius: 10%;
  object-fit: cover;
}

.navbar-custom {
  background-color: #3F3F3F;
}
