body {
  font-family: 'Nunito', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f1f1f1;
}

body > header {
  padding: 5vh 5vh;
}

body > main {
  padding-top: 3vh;
  padding-bottom: 8vh;
}
  
body > footer {
  background-color: #3F3F3F;
  padding: 3vh 5vw;
  color: #fff;
}

.bold {
  font-weight: 700;
}

.link {
  color: #1DB954;
}

.nav-link {
  line-height: 30px !important;
}

#profile {
  border-radius: 50%;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  border: 3px solid black;
}

.info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .image {
  opacity: 0.3;
  border: none;
}

.img-container:hover .info {
  opacity: 1;
}

.text {
  background-color: #1DB954;
  color: white;
  font-size: 1.8vw;
  padding: 16px 32px;
}

.top-buffer {
  margin-top: 5%;
}
