<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>SpotiViz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/profile.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="static/img/logo.png" width="160" height="50" alt=""/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link d-flex flex-column text-center" href="#"><i class="fa fa-home" aria-hidden="true"></i>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" href="#"><i class="fa fa-heart" aria-hidden="true"></i>Top Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" href="#"><i class="fa fa-music" aria-hidden="true"></i>Top Tracks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Recently Played</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"><img id="profile" src={{ profile_pic }} width="50" height="50" alt=""/>&ensp;{{ name }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <header>
      <h1>Here's the most recent tracks you've listened to</h1>
    </header>

    <main class="justify-content-center">

      <div class="container">
        <div class="row">
          {% for track in recent_6_tracks %}
            <div class="col col-md-4 justify-content-center align-items-center">
              <div class="img-container">
                <img src={{ track.track.album.images[0].url }} class="image"/>
                <div class="info">
                  <div class="text">
                    <strong>{{ track.track.name }}</strong>
                    <br/>
                    {{ track.track.artists[0].name }}
                    {% for artist in track.track.artists %}
                      {% if not loop.first %}
                        <br/>
                        {{ artist.name }}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% if loop.index == 3 %}
              <div class="w-100 top-buffer"></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </main>

    <footer>
      <p>
        A project by <a class="link" href="https://abhishekbabu.github.io/" target="_blank">Abhishek Babu</a>
      </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>